__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
*.egg-info/
dist/
build/
*.egg
*.log
.DS_Store
*.pkl
instance/
.webassets-cache
